@CHARSET "UTF-8";

body {
	font-family: Meiryo, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #666;
	margin: 20px auto;
	background-color: #eee;
}

#main {
	background: #eee;
	margin: 0 ;
}

#header {
	float: left;
	height: 54px;
	background: #abc;
}

#user {
	float: left;
	height: 54px;
	background: #bcd;
}

#logoText {
	float: left;
	margin: 10px 0 0 30px;
	/* font styles apply to text within alt tags */
	font-family: 'American Typewriter', Courier, monospace;
	font-size: 32px;
	color: #777;
}

#sublogoText {
	float: left;
	margin: 14px 0 0 20px;
	/* font styles apply to text within alt tags */
	font-family: 'American Typewriter', Courier, monospace;
	font-size: 20px;
	color: #888;
}

#menu {
	float: left;
	height: 62px;
	background: #bcc;
}

#user {
	float: left;
	height: 62px;
	background: #bcd;
}

#menu ul {
	margin: 6px;
	padding: 0;
	list-style: none;
	position: relative;
}

#menu li {
	display: inline;
	padding: 0;
	margin: 0;
	float: left;
}

#menu li a {
	display: block;
	background-color: #eee;
	padding: 3px;
	text-decoration: none;
	color: #777;
	margin: 1px 0px;
	text-align: center;
	font-size: 14px;
}

#menu li a:hover {
	background-color: #F3D898;
}

#footer {
	height: 60px;
	clear: both;
	background: #ddd;
}

#uploadBox{
	height: 740px;
	float: left;
	background: #c0d2e0;
	font-size: 9pt;
	color: #777;
}

input[type="file"]{
	font-family: Meiryo, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #777;
}

button{
	font-family: Meiryo, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #777;
	border: thin #aaa solid;
}

input[type="submit"]{
	font-family: Meiryo, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #777;
	border: thin #aaa solid;
}

input[type="button"]{
	font-family: Meiryo, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #777;
	border: thin #aaa solid;
}

input[type="text"]{
	font-family: Meiryo, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #777;
	width: 160px;
	background-color: #ededed;
	border: thin #ccc solid;
}

input[type="password"]{
	font-family: Meiryo, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #777;
	width: 180px;
	background-color: #ededed;
	border: thin #ccc solid;
}

input[type="checkbutton"]{
	font-family: Meiryo, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #777;
	width: 180px;
	background-color: #ededed;
	border: thin #ccc solid;
}

input[disabled] {
	color: #abc;
}

select{
    -webkit-appearance:button;
    -moz-appearance:button;
    appearance:button;
	font-family: Meiryo, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #777;
}

h1 {
	font-family: Meiryo, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #789;
}

h2 {
	font-family: Meiryo, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #789;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#searchbox {
	float: left;
	width: 400px;
	magin: 0;
	padding: 0;
	background: #bcd;
}

#searchShow {
	float: left;
	width: 840px;
	height:120px;
	magin: 0;
	padding: 0;
	background: #dae8eb;
	display: none;
}

#criteria {
	float: left;
	width: 440px;
	height:370px;
	magin: 0;
	padding: 0;
	background: #d4dcda;
}

#map_search {
	float: left;
	width: 300px;
	height: 120px;
	magin: 0;
	padding: 0
}

#statusbox {
	float: left;
	width: 340px;
	height: 240px;
	magin: 0;
	padding: 0;
	background: #d4dcda;

}

#space2 {
	float: left;
	width: 940px;
	height: 60px;
	magin: 0;
	padding: 0;
}

#locationbox {
	float: left;
	width: 220px;
	magin: 0;
	padding: 0;
	background: #bcd;
	visibility: hidden;
}

#contentbox {
	float: left;
	width: 220px;
	magin: 0;
	padding: 0;
	background: #bcd;
	visibility: hidden;
}

#urlbox {
	float: left;
	width: 220px;
	magin: 0;
	padding: 0;
	background: #bcd;
	visibility: hidden;
}

#map_total {
	float: left;
	width: 640px;
	height: 400px;
	magin: 0;
	padding: 0
}

#results {
	font-size: 12pt;
}
.clear {
	clear:both;　/*floatの解除*/
}

.clearright {
	clear:right;　/*floatの解除*/
}

.clearleft {
	clear:left;　/*floatの解除*/
}
