<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>		
		<meta name="viewport" content="initial-scale=1.0 user-scalable=no" />
		<link href="/css/app.css" th:href="@{/css/app.css}" rel="stylesheet"/>
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/overcast/jquery-ui.css" rel="stylesheet" type="text/css"/><!-- jquery UI のcss-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- jquery　本体-->
		<script type="text/javascript"  src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script><!-- jquery-UI　本体-->
		<!--1国際化対応のライブラリをインポート-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery-ui-i18n.min.js"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="js/gmaps.js"></script>
		<script type="text/javascript" src="js/map-list.js"></script>
		<script type="text/javascript" src="js/jquery.validate.js"></script>
		<script type="text/javascript" src="js/upload.js"></script>
		<script type="text/javascript" src="js/test.js"></script>
		<title>standard thymeleaf testing</title>
	</head>
	<body>
		<div id="main">
				<div th:include="layout :: head"></div>
   			<div id="map_list" ></div>
				<div th:include="layout :: list"></div>
				<div th:include="layout :: content"></div>
				<div th:include="layout :: location"></div>
			<div th:include="layout :: foot"></div>
		</div><!-- main終わり -->
	
	</body>
</html>
